/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/uploads
/uoliads/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

meetup.js
## IDES and editors files
.settings/
.idea/