
<div class="">
    <div class="">
      <div class="card">
        <div class="card-image">
          <img src="public/images/sample-1.jpg">
          <span class="card-title">EVENTOS</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  

$(document).ready(function(){
   



$('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });




  });





</script>