<html data-ng-app="app">
  <head>
    
    
   
    
    
        <script type="text/javascript" src="/public/lib/js/angular.js"></script>
    
    
    
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <link href="/public/lib/css/materialize/css/iconos/index.css" rel="stylesheet">


    <link
      rel="stylesheet"
      href="/public/lib/css/materialize/css/materialize.min.css"/>
  </head>

  <body data-ng-controller="MyController">
    
    <div class="slider" data-images="sliderImgs">
      
    </div>
    
     <!-- JS JQuery -->
    <script
      src="/public/lib/js/jquery.min.js"
    ></script>


    <!-- JS materialize -->
    <script src="/public/lib/css/materialize/js/materialize.min.js"></script>
    
    
    
     <script type="text/javascript">
    
    (function() {
    	  'use strict';
    	  angular.module('app', []);
    	  
    	  angular.module('app')
    	    .controller('MyController', MyController);
    	  
    	  MyController.$inject = ['$scope'];
    	  
    	  function MyController($scope) {
    	    $scope.sliderImgs = [
    	      {
    	        route: 'https://images.unsplash.com/photo-1456428199391-a3b1cb5e93ab',
    	        caption: 'This is our big Tagline!',
    	        slogan: 'Here\'s our small slogan.',
    	        align: 'center'
    	      },
    	      {
    	        route: "https://images.unsplash.com/photo-1447834353189-91c48abf20e1",
    	        caption: 'Left Aligned Caption',
    	        slogan: 'Here\'s our small slogan.',
    	        align: 'left'
    	      },
    	      {
    	        route: "https://images.unsplash.com/photo-1449452198679-05c7fd30f416",
    	        caption: 'Right Aligned Captio',
    	        slogan: 'Here\'s our small slogan.',
    	        align: 'right'
    	      }
    	    ]
    	  }
    	  
    	  angular.module('app')
    	    .directive('slider', slider);
    	  
    	  slider.$inject = ['$document']
    	  
    	  function slider($document) {
    	    var directive = {
    	      restrict: 'AC', //Apply the directive through Class or Attribute
    	      scope: {
    	        images: '='
    	      },
    	      template: '<ul class="slides">'
    	        + '<li data-ng-repeat="img in images">'
    	          + '<img data-ng-src="{{img.route}}">'
    	          + '<div class="caption {{img.align}}-align">'
    	           + '<h3>{{img.caption}}</h3>'
    	           + '<h5 class="light grey-text text-lighten-3">{{img.slogan}}</h5>'
    	          + '</div>'
    	        + '</li>'
    	      + '</ul>'
    	      //,
    	    //  link: linkFunc
    	    };
    	    
    	    return directive;
    	    
    	   /* function linkFunc(scope, elem, attr) {
    	      $document.ready(function(){
    	        elem.slider({
    	          full_width: false,
    	          indicators: true,
    	          transition: 1500,
    	          interval: 8000
    	        });
    	      });
    	    }*/
    	  }
    	})();
    
    
    
    $(document).ready(function(){
        $('.slider').slider();
      });
    
   // $('.slider').slider();
    
    
    </script>
  </body>
</html>